
body	{
			margin: 0px;
			padding: 0px;
			background-color: white;
}

.container {
				margin:0 auto;
				padding: 0px;
				width:100%;
				max-width:900px;
				font-family: Georgia, serif;
				background-color: #F0F8FF;
}

.heading {
			font-size: 28px;
			padding: 10px;
			margin: 0px;
			text-transform: uppercase;
			color: white;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(10,10,100,1);
			height: 240px;
}

footer {
			width: 100%;
			padding: 3px;
			background-color: rgba(10,10,100,1);
			color: white;
			text-decoration: none;
}

footer ul {
				list-style-type: none;
				width: 100%;

}

footer li {
				display: table-cell;
				width: 5%;
				margin: 0px;
				padding: 0px;

}

h2 {
			text-align: center;
			background-color: #c2f0f0;
			border-bottom: 1px solid black;
			padding: 2px;
}

p {
	padding: 10px;
}

@media (max-width: 767px) {
	.container {
					width:80%;
					max-height: 720px;
	}
}
